#lotes h1,
.postLotes h1 {
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.casaForm {
    position: relative;
    top: -600px;
}

.loteForm h1 {
    position: relative;
    top: -60px;
    left: -200px;
}

.casaForm h1 {
    position: relative;
    top: -60px;
}

.boxcards {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFdMRNVjQnOT8T11CuukX2Mpx6inK1_FvFXA&usqp=CAU');
    background-size: cover;
    background-color: rgba(101, 98, 227, 0.8);
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: 10rem;
    left: 2rem;
    margin-top: 10px;
    padding: 80px;
    width: 10%;
}

.boxcards:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.boxcards h4 {
    color: white;
    text-align: left;
}

.form-grid-1 {
    position: relative;
    left: -25rem;
    z-index: 1;
}

.form-grid-2 {
    position: relative;
    top: -32.2rem;
}

.form-grid-3 {
    position: relative;
    top: -38.2rem;
    left: 25rem;
}

.boxflex {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.actionsflex {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.actions {
    padding: 8px;
}

.actions a {
    text-decoration: none;
    color: black;
}

.btnLote {
    position: relative;
    top: -30rem;
    left: -12.5rem;
}